/* reglas
selectores
declaraciones
propiedades
valores */

/*selector de etiqueta header-section-article-nav*/
/* header
{
    background: rgb(51, 178, 228);
    color: red;
} */

/* gris oscuro = #1d252c
gris claro = #626262
background gris = #1b2127 */

/*selector descendente*/
/*body-header-div-nav-ol-li-a*/
/*selector de class es que el que vamos a estar utilizando*/
/* asi se se referencia un selector de class .link*/

/*selector de id #portafolio*/

body
{
    font-family: 'Source Sans Pro', sans-serif;
    background: rgb(7, 117, 160);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    font-style: italic;
}

h1{
    font-size: 35px;
    line-height: 1.3;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    /* text-transform: uppercase; <-- para mayusculas el uppercase*/
    /* text-decoration: overline; <-- para subrayar*/
}

h1 strong{
    color: #026fff;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
  }

.hero{
    height: 300px;
    /* background-image: url(https://imgur.com/m1HfeeI.jpg);
    background-size: 500px 300px; */
    background-color: rgb(2, 2, 34);
    /* background-repeat: no-repeat;
    background-position: right; */
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image{
    object-fit: cover;
}

.portfolio{
    background: #fafafa;
    padding: 20px;
}

.project{
        /* display: inline-flex; */
        /* border-top: 10px solid red;
        border-right: 10px solid green;
        border-left: 10px solid green;
        border-bottom: 10px solid red; */
        /* border-top-color: red;
        border-top-width:15px;
        border-top-style: solid; */
        background: white;
        margin: 10px;
        border: 1px solid gray;
        border-radius: 10px;
        margin-bottom: 15px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.project-course,
.project-date,
.project-url {
        margin: 10px 0;
}

.project-description {
        font-size: 20px;
}
.project strong {
        font-family: 'Fjalla One', sans-serif;
}

.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
  }

.project-details{
    width: 500px;
    /* display: inline-block; */
}

.project-imageContainer{
    width: 500px;
    /* display: inline-block; */
}


.header{
    background-color: rgb(2, 2, 34);
    color: white;
    /* border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-left: 20px; */
    display: flex;
    justify-content: space-between;
    height: 90px;
    /*height: 70px;
    align-items: center; */
}

/* flexbox{
    display: flex;
    flex-wrap: nowrap;
    flex-wrap: wrap;
    flex-direction: column; para colocarlos en columnas
}

.box{
    width: 50px;
    height: 50px;
    margin: 20px;
    border:1px solid red;

    flex-shrink: 0;
} */
ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
    }